<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link rel="icon" href="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/16479_1124031720959624_8431845396552509961_n.jpg?oh=e564c4d0ba01ff821c7db97b8ecc13da&oe=59ECDE0B">

    <style>
      table, th, td {
    border: 1px solid black;
}
    </style>
  </head>
  <body>

    <div class="container">

      <!-- child template -->
      {% block content %}{% endblock %}

      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

      <!-- messages -->
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
    </div>

  </body>
</html>

