<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Zbigniew Mansel's Website</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="{{ css }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ jumbotron }}" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
    .btn-navbar {
      background-color: transparent;
      border-color: transparent;
      color: #cdc9c9;
    }
    .btn-navbar:hover {
      background-color: transparent;
      border-color: transparent;
      color: white;
    }
    .btn-about {
        background-color: #8b7d6b;
    }
    .btn-all-posts{
        width: 100%;
        background-color: #cdc5bf;        
        
    }
    .jumbotron {
      text-shadow: #444 1px 1px;
    }
  </style>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://zmansel.herokuapp.com">Z. Mansel's Website</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <a class="btn btn-primary btn-md btn-navbar form-control" href="/" role="button">Home</a>
            </div>
            <div class="form-group">
              <a class="btn btn-primary btn-md btn-navbar form-control" href="/music_menu" role="button">Music</a>
            </div>
            <div class="form-group">
              <a class="btn btn-primary btn-md btn-navbar form-control" href="/about.html" role="button">About</a>
            </div>
            
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-color: #cdc5bf;">
      <div class="container">
        <h1>Welcome!</h1>
        <p>I am very glad to welcome you on my blog. 
        I hope You will enjoy it and find it at least a bit useful.
        If You want to find more hit the button below.</p>
        <p><a class="btn btn-primary btn-lg" href="/about.html" role="button">About &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>{{ posts[0].title }}</h2>
          <p>{{ posts[0].paragraph_1[:50] }}...</p>
          <p><a class="btn btn-default" href="/post/?title={{ posts[0].title_link }}" role="button">Show more &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>{{ posts[1].title }}</h2>
          <p>{{ posts[0].paragraph_1[:50] }}...</p>
          <p><a class="btn btn-default" href="/post/?title={{ posts[1].title_link }}" role="button">Show more &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>{{ posts[2].title }}</h2>
          <p>{{ posts[2].paragraph_1[:50] }}...</p>
          <p><a class="btn btn-default" href="/post/?title={{ posts[2].title_link }}" role="button">Show more &raquo;</a></p>
        </div>
        <div class="clear-fix"></div>
        <div class="row">            
            <div class="col-md-12"><br><br>
            <p><a class="btn btn-default btn-lg btn-all-posts" href="/all_posts" role="button">All posts &raquo;</a></p>
            </div>
        </div>
      </div>
      
      <hr>

      <footer>
        <p>&copy; 2017 Zbigniew Mansel</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
