
<!DOCTYPE html>
<html lang="en">
<title>
    Zbigniew Mansel's Website
</title>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/static/button.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <style type="text/css">
    #subtitle-review {
        font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
        font-size: 3em;
        font-weight: bold;
        text-align: justify;
    }
    #text-review {
        font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
        text-align: justify;
        font-size: 2em;
    }
    #img-review {
        border-width: 1px;
        border-radius: 5%;
    }
    </style>
</head>
<!-- w w w  . jav a 2 s.co  m-->





<body style="background-color:#693D25">
<div class="jumbotron" style="background-color: darkgreen" style="margin: 0% 5% 0% 5%">
    <div class="row">
        <div class="col-xs-12">
            <div class="container">
                <h1 class="display-3" style="color: white"><i>{{ album }}</i></h1>
                <h2 class="display-2" style="color: white" style="font-family: Century Gothic">
                        {{ artist }}</h2>
                <h3 style="color: gray">Posted on: {{ date }}</h3>

            </div>
        </div>
    </div>
</div>

<div class="jumbotron" style="background-color: transparent; margin: 0% 5% 0% 5%">
<div class="container-fluid">
    <div class="row">    
         <nav>
            <ul>
                <li><a href="../" class="btn btn-mine btn-lg" style="width: 150px">Home</a></li>
                <li>
                    <p></p>
                </li>
                <li><a href="../music_menu" class="btn btn-mine btn-lg" style="width: 150px">Music</a></li>
                    <p></p>
                <li><a href="../about.html" class="btn btn-mine btn-lg" style="width: 150px">About</a></li>
            </ul>
        </nav>            
        <article>  
            <div class="row" >
                <div class="col-xs-8">        
                    <p id="subtitle-review">
                        {{ header }}                       
                    </p>
                </div>
                <div class="col-xs-4"> 
                    <img class="img-responsive" id="img-review" src="{{ cover }}" alt="cover" >       
                </div>
                <div class="container">
                <div class="row">
                    <div class="col-xs-12" style="text-align: justify;">        
                        <p id="text-review">
                            <p>{{ paragraph_1 }}</p>
                            <p>{{ paragraph_2 }}</p>
                            <p>{{ paragraph_3 }}</p>
                            <p>{{ paragraph_4 }}</p>
                            <p>{{ paragraph_5 }}</p>
                            <p>{{ paragraph_6 }}</p>
                        </p>
                        <p><font size="5"><b>Rate:</b></font><br></p>
                        <p><font size="4"><b>{{ rate }}</b></font></p>
                        <hr>
                        <p><font size="5"><b>Listen: </b><br>
                        <a href="{{ listen }}" target="__blank">{{ listen }}</a>
                        </p>
                    </div>
                </div>
                </div>    
            
        </article>           
           
    </div>
</div>
</div>

</body>

</html>